/*==============================================*/
/*  old css COMPATIBILITY FIX   			    */
/*==============================================*/
body{
	line-height: 1;
}
p{
	text-rendering: optimizeLegibility;
}
img{
	max-width: 100%;
}
.row .row {
	width: auto;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 0;
	margin-bottom: 0;
	max-width: none;
}
.columns .row .columns {
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
#page{
	padding: 0;
	z-index: 0;
}
#pageheader .columns{
	padding:0;
}
#pagefooter .row{
	padding: 0 1.1111rem;
}
#sidebar a:hover, #pagenav a:hover{
	text-decoration: none;
}
body > #page{
	min-height: inherit!important;
	padding-bottom: 0!important;
}
.pagefooter{
	margin-top: 100px;
}
#navWrapper{
	padding-right: 0;
	width: 960px;
}
#navWrapper ul.right li:last-child a{
	/* padding-right: 0; */
}

/*==============================================*/
/*  GENERAL                                     */
/*==============================================*/

html {
	font-size: 18px; /* set global font-size to 18px */
}
body {
	font-family: "TyponineSans Regular 18";
}
.clearfix{
	clear: both;
}
#main_wrapper {
	margin-top:50px;
}
/*#main_wrapper:before{
	position: relative;
	height: 20px;
	width: 100%;
	content: "";
	pointer-events: none;
	background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 1) 100% );
}*/
#sidebar{
	background: #ffffff;
}
#timeline{
	background: #ffffff;
}

/* fixes rem sizes */
.row{
	max-width: 55.7rem!important;
}
.columns {
	padding: 0 1.1111rem;
}
.panel, .panel.callout {
	padding: 1.1111rem;
	margin-bottom: 1.1111rem;
	border: none !important;
	box-shadow: none;
	webkit-box-shadow: none;
	-moz-box-shadow: none;
}

/*iframe{
	width:628.42px;
	height:260px;
	padding: 20px;*/
	/*display: block !important;*/ /* fixes a 3px bottom margin bug on iframe 
								http://stackoverflow.com/questions/16849393/strange-padding-effect-at-the-bottom-of-an-iframe-in-a-table-cell
								*/
/*}*/


/*  ================  BACKTOTOP  ===============  */
.go-top,.go-top:link {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	font-size: 12px;
	display: none;
	opacity:.75;
	background: #00979D;
	padding: 9px;
}
.go-top img{
	width: 26px;
}

.go-top:hover,
.go-top:visited {
	opacity:1;
}
/*a.go-top:hover{
	background: #7FCBCD;
}
*/

/*==============================================*/
/*  LIGHTBOX                                    */
/*==============================================*/

#ardu_what{
	width:100%;
	min-height:336px;
/*	background:#f1f1f1;
*/	/*margin:50px 0 0 -960px;*/ 
	/*float:left;*/
	margin: 0 auto;
/*	padding: 1.1111rem 0;
*/	position: absolute;
	/*margin-top: 30px;*/
	top: 200px;
/*	margin-left: 16.6%;
*/	z-index: -1;
}
#ardu_what.row {
	padding-bottom: 0;
}
#ardu_what .row .columns {
	border-right: 3px solid #fff;
}
#ardu_what .row .columns:last-child{
	border: none;
}
#ardu_what .row .ardu_what_bg{
	background:#f1f1f1;
	padding:1.1111rem 0 0;
}

.panel.callout.what{
	background: #f1f1f1;
	height: auto;
	margin: 0;
	padding: 0 1.1111rem;
}
.panel.callout.what .pic{
	margin-bottom: 1.1111rem;
	max-height: 150px;
	text-align: center;
}
.panel.callout.what .pic iframe{
	width: 243.688px;
	height: auto;
	padding: 0;
}
.panel.callout.what .pic img{
	width: auto;
	max-height: 150px;
	margin: 0 auto;
}
.panel.callout.what .title{
	font-family: "TyponineSans Monospace Medium 3";
	text-transform: uppercase;
	font-size: 1rem;
	/*line-height: 1.4rem;*/
	line-height: 1.6rem;
	letter-spacing: .08rem;
	color: #00979D;
}
.panel.callout.what p{
	font-family: "TyponineSans Regular 18";
	font-size: .8rem;
	line-height: 1.3rem;
	color: #434f54;
	margin-top: .3rem;
}
.panel.callout.what p.link{
	margin-top: 1.1111rem;
}
.panel.callout.what p.link a{
	color: #005C5F;
}
.panel.callout.what p.link a:hover{
	color: #00979D;
}
#close.row{
	height: 40px;
	background-color: #DAE3E3;
	margin: 1.1111rem 0 0;
	padding: .5rem 0;
	text-align: center;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
#close.row:hover{
	cursor: pointer;
	background-color: #BDC7C7;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
#close.row:hover > p{
	color: #fff
}
#close.row p{
	font-family: "TyponineSans Regular 18";
font-size: .68rem;
line-height: 1.3rem;
color: #434F54;
text-transform: uppercase;
letter-spacing: 0.05rem;
}
#close.row p svg{
	fill: currentColor;
	vertical-align: middle;
	margin-top: -2.9px;
}


/*==============================================*/
/*  SIDEBAR                                     */
/*==============================================*/

#sidebar a{
	color: #7FCBCD;
}
#sidebar a:hover{
	color: #006D70;
	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	transition: color 200ms ease-out;
}
.panel.sidebar_what{
	/*height: 260px;*/
	height: 228px;
	text-align: center;
	overflow: hidden;
	background: #f4f4f4; 
	-webkit-transition: background 200ms ease-out;
	-moz-transition: background 200ms ease-out;
	transition: background 200ms ease-out;
}
.panel.txt_module{
	background:transparent;
	border:none;
	padding:0;
}
span.hilighted{
	font-family: "TyponineSans Monospace Medium 3";
	/* font-family: "TyponineSans Monospace Bold 3"; */
	font-size: 1rem;
	line-height: 1.4rem;
	letter-spacing: .08rem;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #00979D;
	padding: 0 .4rem;
}
.txt_module p{
	font-family: "TyponineSans Regular 18";
	font-size: .8rem;
	line-height: 1.3rem;
	color: #00979D;
	margin-top: .3rem;
}

.panel.sidebar_what:hover{
	cursor: pointer;
	background: #7FCBCD; 
	-webkit-transition: background 200ms ease-out;
	-moz-transition: background 200ms ease-out;
	transition: background 200ms ease-out;
}
.panel.sidebar_what:hover > h1{
	color: #ffffff;
}
.panel.sidebar_what:hover > img {
	/*margin-top: -2px;*/
	/*-webkit-transition: margin-top 450ms ease-out;
	-moz-transition: margin-top 450ms ease-out;
	transition: margin-top 450ms ease-out;*/
	/*max-width: 200px;*/
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	transition: all 350ms ease-out;
}
/*.panel.sidebar_what:after{
	width: 314px;
	height: 228px;
	content:'lala lala lala';
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	transition: box-shadow 200ms ease-out;
	box-shadow: inset 0px 0px 0px 0px #7FCBCD;
	display: none;
}
.panel.sidebar_what:hover:after{
	display: block;
	transition: box-shadow 200ms ease-out;
	box-shadow: inset -294px 0px 0px 0px #7FCBCD;
}*/

.panel.sidebar_what h1{
	text-transform: uppercase;
color: #11868B;
font-family: "TyponineSans Light 17";
/*font-size: 1.2rem;*/
font-size: 1.4rem;
line-height: 1.8rem;
letter-spacing: .1rem;
border-bottom: 2px solid transparent;
/*height: 220px;*/
}
.panel.sidebar_what img {
	padding-bottom: 20px;
	max-width: 190px;
	margin-top: 0px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}


button{
	width: 100%;
	/*min-height: 80px;*/
	min-height: 40px;
	margin: 0 0 1.1111rem 0;
	padding: .6rem 1.1111rem;
	border: none;
	font-family: "TyponineSans Monospace Medium 3";
	/* font-family: "TyponineSans Monospace Bold 3"; */
	/*font-size: 1.2rem;*/
	font-size: 1rem;
	line-height: 1.6rem;
	letter-spacing: .08rem;
	text-align: left;
	text-transform: uppercase;
	background-color: #00979D;
	color: #ffffff;
	transition: box-shadow 200ms ease-out;
	box-shadow: inset 0px 0px 0px 0px #7FCBCD;
}
button:hover{
	background-color: #00979D;
	/*box-shadow: inset -80px 0px 0px 0px #7FCBCD;*/
	box-shadow: inset -64px 0px 0px 0px #7FCBCD;
}
button:focus{
	outline: none;
}
button span.text{
	max-width:80%;
	float:left;
}
button span.icon{
	max-width:10%;
	float:right;
	/*padding-top: .5rem;*/
}
button.store .icon{
	max-width:9%;
	margin-right: 2px;
}
button.store {
	background-color: #F47A20;
	box-shadow: inset 0px 0px 0px 0px #F39C12;
}
button.store:hover {
	/*box-shadow: inset -80px 0px 0px 0px #F39C12;*/
	box-shadow: inset -64px 0px 0px 0px #F39C12;
}

button.support {
	background-color: #BCAC99;
	box-shadow: inset 0px 0px 0px 0px #9E846D;
}

button.support:hover {
	box-shadow: inset -64px 0px 0px 0px #9E846D;	
}

.video_widget{
	width: 100%;
	height: auto;
	margin: 0 0 1.1111rem 0;
	position: relative;
	/*background: url("../assets/massimo-TED.png") no-repeat 0 0;*/
}
.video_widget:after{
	content: '';
	width: 36px;
	height: 57px;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	margin-top: -28px;
	top: 50%;
	background: url("../assets/icon-play.svg") no-repeat 0 0;
}

.panel.heart{
	background-color: #00979D;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
	cursor: pointer;
}
.panel.heart:hover, .panel.genuino:hover, .panel.create:hover{
	background-color: #7FCBCD;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
.panel.heart p, .panel.genuino p, .panel.create p {
	font-family: "TyponineSans Regular 18";
	font-size: .8rem;
	line-height: 1.3rem;
	color: #ffffff;
	margin-top: .6rem;
	letter-spacing: 0.1rem;
}

.panel.create p {
	margin-top: .3rem;	
}

.panel.genuino p, .panel.create p {
	color: #00979D;
}
.panel.genuino:hover p, .panel.create:hover p {
	color: white;
}
.panel.genuino .title {
	height: 75px;
	background-image: url("/en/pub/arduinoWide/img/GenuinoTile-01.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.panel.genuino:hover .title {
	background-image: url("/en/pub/arduinoWide/img/GenuinoTileWhite-01.svg");
	background-repeat: no-repeat;
}

.panel.genuino {
	cursor: pointer;
	text-align: center;
	background-color: #f4f4f4;
	background-image: url("/new_home/assets/GrecaTile-01.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 3em;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}

.panel.genuino:hover {
	background-image: url("/new_home/assets/GrecaTile-01.svg");
	background-repeat: no-repeat;
	background-position: bottom;
}

.panel.education {
	height: 75px;
	background-image: url("/new_home/assets/ArduinoEducation_HomePage-01.svg");
	background-repeat: no-repeat;
	background-position: center;
	height: 209px;
	cursor: pointer;
	margin-bottom: 1.5em;
	letter-spacing: 0.1rem;
	background-color: #f4f4f4;
}

.panel.education .title {
	margin-top: 70px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #00979D;
}

.panel.education:hover {
	background-image: url("/new_home/assets/ArduinoEducation_HomePage-02.svg");
	background-repeat: no-repeat;
}

.panel.education:hover .title {
	color: white;
}

.panel.create .title {
	height: 116px;
	background-image: url("/new_home/assets/createTile_Logo.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.panel.create:hover .title {
	background-image: url("/new_home/assets/createTile_LogoW.svg");
	background-repeat: no-repeat;
}

.panel.create {
	cursor: pointer;
	text-align: center;
	background-color: #f4f4f4;
	background-image: url("/new_home/assets/createTile_Grid.svg");
	background-repeat: no-repeat;
	padding-bottom: 1em;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}

.panel.create:hover {
	background-image: url("/new_home/assets/createTile_GridW.svg");
	background-repeat: no-repeat;
}


ul.social_widget {
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0px;
}
ul.social_widget li {
    background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 32px;
	background-size: 24px;
	line-height: 2.15rem;
	margin-left: 0;
	-webkit-transition: margin-left 50ms ease-out;
	-moz-transition: margin-left 50ms ease-out;
	transition: margin-left 50ms ease-out;
	font-size: .8em;
}
ul.social_widget li.twitter{
	background-image: url("../assets/icon-social-twitter.png");
}
ul.social_widget li.flickr{
	background-image: url("../assets/icon-social-flickr.png");
}
ul.social_widget li.facebook{
	background-image: url("../assets/icon-social-facebook.png");
}
ul.social_widget li.youtube{
	background-image: url("../assets/icon-social-youtube.png");
}
ul.social_widget li.gplus{
	background-image: url("../assets/icon-social-gplus.png");
}
ul.social_widget li.flickr{
	background-image: url("../assets/icon-social-flickr.png");
}
ul.social_widget li.github{
	background-image: url("../assets/icon-social-github.png");
}
ul.social_widget li.instagram{
	background-image: url("../assets/instagram_sidebar.png");
}

ul.social_widget a{
	color: #00979D!important;
}
ul.social_widget a:hover > li{
	/*color: #006D70;
	-webkit-transition: background-color 200ms;
	-moz-transition: background-color 200ms;
	transition: background-color 200ms;*/
	margin-left: 10px;
	-webkit-transition: margin-left 200ms ease-out;
	-moz-transition: margin-left 200ms ease-out;
	transition: margin-left 200ms ease-out;
}


/*==============================================*/
/*  TIMELINE                                    */
/*==============================================*/

/*.panel.ad{
	width:628.42px;
	height:260px;
	overflow: hidden;
	background: transparent;
}*/
/*.panel.blog{
	height: 220px;
	padding: 0;
	overflow: hidden;
}
.panel.product{
	height: 380px;
	height: 370px;
	padding: 0;
	background: transparent;
}*/
.panel.blog{
	height: 380px;
	height: 367px;
	padding: 0;
	background: transparent;
	background: #f1f1f1;
	overflow: hidden;
}
.panel.ad{
	/*height: 380px;*/
	height: 367px;
	padding: 0;
	background: #f1f1f1;
	background: url(http://placekitten.com/g/304/367) no-repeat;
}

.panel.ad:after{
	content: '';
	width: 304.203px;;
	height: 367px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 10px;
}
/*.panel.ad:hover > .panel.ad:after{
	background-color: rgba(0,0,0,.1);
    -webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}*/
.panel.ad:hover::after{
	background-color: rgba(0,0,0,.1);
    -webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
/*.columns .row .columns .blog_pic{
	position: relative;
	padding: 0 10px 0 0;
	margin: 0;
	height: 220px;
}*/
.columns .row .columns .blog_pic{
	position: relative;
	padding: 0;
	margin: 0;
	width: 304.203px;
	height: 228px;
}
.columns .row .columns .blog_pic img{
	width: 100%;
	height: 100%;
}
.columns .row .columns .blog_pic:after{
	content: 'blog';
	position: absolute;
	bottom: 20px;
	right: 0px;
	font-family: "TyponineSans Monospace Medium 3";
	font-size: 1rem;
	line-height: 1.3rem;
	letter-spacing: .08rem;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #00979D;
	padding: 0 .2rem;
}
.blog_title{
	padding: 20px;
}
.columns .row .columns .blog_title{
	padding-right: 20px;
	/*height: 120px;*/
	height: 120px;
	overflow: hidden;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
}
.panel.callout .blog_title span{
	text-transform: uppercase;
	color: #11868B;
	font-family: "TyponineSans Light 17";
	font-size: 1rem;
	line-height: 1.8rem;
	letter-spacing: .1rem;
	border-bottom: 2px solid transparent;
	/*height: 220px;*/
}
/*.blog:hover > .blog_title > span {
    border-bottom: 2px solid #11868B;
	transition: all 200ms ease-out;
}*/
.blog:hover  {
    background-color:#7FCBCD;
    -webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
.blog:hover > .blog_title {
	color: #ffffff;
}
.blog:hover > .blog_title > span{
	color: #ffffff;
}
.blog:hover > .blog_pic:before {
    background-color: rgba(0,0,0,.1);
    -webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
.blog_pic:before{
	content: '';
	width: 304.203px;
	height: 228px;
	/*height: 370px;*/
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}


.product_pic img{
	width: 304.203px;
	height: 228px;
}
.product_pic:before{
	content: '';
	width: 100%;
	height: 228px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.product:hover > .product_pic:before {
    background-color: rgba(0,0,0,.1);
    -webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
.product:hover{
	background-color: #f1f1f1;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}
.columns .row .columns .product_pic{
	position: relative;
	padding: 0;
	margin: 0;
}
.columns .row .columns .product_pic:after{
	content: 'store';
	position: absolute;
	bottom: 20px;
	right: 0px;
	/*font-family: "TyponineSans Monospace Medium 3";*/
	font-family: "TyponineSans Monospace Bold 3";
	font-size: 1rem;
	line-height: 1.3rem;
	letter-spacing: .08rem;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #F47A20;
	padding: 0 .2rem;
}
.product_txt{
	padding: 10px 20px 20px 20px;
}
.product_txt h1{
	/*font-family: "TyponineSans Monospace Medium 3";*/
	font-family: "TyponineSans Monospace Bold 3";
	font-size: 1rem;
	line-height: 1.1rem !important;
	letter-spacing: .08rem;
	color: #00979D !important;
	text-transform: uppercase;
}
.product_txt p{
	font-family: "TyponineSans Regular 18";
	font-size: .8rem;
	line-height: 1.3rem;
	/*color: #0CA1A6 !important;*/
	color: #00979D !important;
	margin-top: -.3rem;
}

.panel.adv {
	background-color: #DAE3E3;
	height: 367px;
	padding: 0;
	width: 304px;
}
.panel.adv img.placeholder {
	background-color: #f1f1f1;
	/*height: 228px;*/
	margin: 0;
	padding: 0;
	position: absolute;
	top: 73.5px;
	/*width: 304.203px;*/
	width: 304px;
	display: block;
}
.panel.adv:after{
	content: '';
	width: 304.203px;;
	height: 367px;
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
}
.panel.adv:hover::after{
	background-color: rgba(0,0,0,.1);
    -webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}

.banneroverlay {
	position: absolute;
	left: 22px;
	top: 40px;
	line-height: 30px;
	padding: 5px 0 5px 15px;
	display: inline-block;
	overflow-y: hidden;
}

.bannercontents {
	display: inline;
	margin: 0;
	padding: 3px 0px 1px 0px;
}

.bannercontents span {
	position: relative;
	color: #FFF;
	left: -5px;
	font: 112.5%/1.75 serif;
	font-weight: 400;
	font-family: "TyponineSans Monospace Text 7";
	font-size: 18px;
	line-height: 22px;
}
